---
import config from '@/consts'
import Header from '@/components/Header.astro';
import Layout from "@/layouts/Layout.astro";
import {GithubIcon, DiscordIcon, InstagramIcon, TwitchIcon, YoutubeIcon} from '@/components/Icons';
import Me from '@/components/Me';
import { cn } from '@/lib/utils';

const links = {
  primary: [
    {
      url: "https://www.rocketseat.com.br/evento-pratico/html-css?utm_source=instagram&utm_medium=organic&utm_campaign=evento&utm_term=eventopratico&utm_content=lead-htmlecss-instagram_mayk-organic-evento-none-none-21-fevereiro-instagram",
      title: "Na Prática @Rocketseat",
      description: "HTML e CSS clonando interface Pinterest e Youtube",
      colors: {
        'background': 'bg-gradient-to-br from-[#22D3EE] to-amber-200',
        'title': 'text-black',
        'description': 'text-gray-800'
      }
    },
    { 
      url: 'https://discover.maykbrito.dev',
      title: 'Discover (gratuito)',
      description: '+5h de curso de programação WEB para iniciantes'
    },
    {
      url: 'https://one.maykbrito.dev',
      title: 'Rocketseat',
      description: 'Formação completa em programação WEB'
    },
    {
      url: 'https://masterclassjs.maykbrito.dev',
      title: 'Masterclass de JavaScript',
      description: 'Domine os fundamentos de JavaScript'
    },
    {
      url: 'https://biblioteca.maykbrito.dev',
      title: '+20 Cursos (gratuitos)',
      description: 'Cursos de HTML, CSS, JS, Node, SQL, etc...'
    }
  ],
  social: [
    {
      url: 'https://github.com/maykbrito',
      title: 'Github',
      icon: GithubIcon,
    },
    {
      url: 'https://twitch.tv/maykbrito',
      title: 'Twitch',
      icon: TwitchIcon,
    },
    {
      url: 'https://youtube.com/maykbrito',
      title: 'Youtube',
      icon: YoutubeIcon,
    },
    {
      url: 'https://discord.maykbrito.dev',
      title: 'Discord',
      icon: DiscordIcon,
    },
    {
      url: 'https://instagram.com/maykbrito',
      title: 'Instagram',
      icon: InstagramIcon,
    }
    
  ]
  }
---

<Layout title={config.head.title} description={config.head.description} image={config.head.image}>
  
  <div class="page max-w-xs mx-auto px-2 md:px-0 antialiased ">
      <Header />

      <div class="grid gap-12">
    
      <div class="text-center">
        <Me className="mx-auto w-32 h-32" />
        <div class="mb-2 mt-4 text-lg font-medium">@maykbrito</div>
        <p class="leading-tight text-muted-foreground">
          😍 Apaixonado por ensino.<br/>
          ⭐️ Descomplicando a Programação WEB.<br/>
          💡 Gosto de falar sobre hard e soft skills.<br/>
        </p>
      </div>
      
      <main class="grid gap-2 text-center">
        {
          links.primary.map(async (link) => (
            <a 
              class={cn(`border rounded border-gray-300 p-4 hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-800`, link.colors?.background)}
              href={link.url} 
              target="_blank">
              <strong class={cn(`font-bold text-lg`, link.colors?.title)}>{link.title}</strong>
              <p class={cn("text-muted-foreground", link.colors?.description)}>{link.description}</p>
            </a>
          ))
        }
      </main>

        <footer class="flex flex-wrap gap-2 justify-center mb-20 ">
          {links.social.map(link => (
            <a 
            class="border rounded-md p-3"
            href={link.url} target="_blank">
                <link.icon strokeWidth={1} />
                <p class="sr-only">{link.title}</p>
            </a>
          ))}
        </footer>
      </div>

    </div>
</Layout>