---
import config from '@/consts'
import Header from '@/components/Header.astro';
import Layout from "@/layouts/Layout.astro";
import { Button } from '@/components/ui/button';
import { GithubIcon, InstagramIcon, TwitchIcon, YoutubeIcon } from 'lucide-react';
import Me from '@/components/Me';

const links = {
  primary: [
    { 
      url: 'discover.maykbrito.dev',
      title: 'Discover',
      description: 'Curso de programação WEB gratuito'
    },
    {
      url: 'rocketseat.com.br',
      title: 'Rocketseat',
      description: 'Formação em programação WEB'
    },
    {
      url: 'seo.maykbrito.dev',
      title: 'SEO para Devs',
      description: 'Curso de SEO para DEVs'
    }
  ],
  social: [
    {
      url: 'github.com/maykbrito',
      title: 'Github',
      icon: GithubIcon,
    },
    {
      url: 'twitch.tv/maykbrito',
      title: 'Twitch',
      icon: TwitchIcon,
    },
    {
      url: 'youtube.com/maykbrito',
      title: 'Youtube',
      icon: YoutubeIcon,
    },
    {
      url: 'instagram.com/maykbrito',
      title: 'Instagram',
      icon: InstagramIcon,
    }
    
  ]
  }
---

<Layout title={config.head.title} description={config.head.description} image={config.head.image}>
  
  <div class="page max-w-xs mx-auto px-10 md:px-0 antialiased grid gap-12">
      <Header />
      <div class="text-center">
        <Me className="mx-auto w-32 h-32" />
        <div class="mb-2 mt-4 text-lg font-medium">@maykbrito</div>
        <p class="leading-tight text-muted-foreground">
          😍 Apaixonado por ensino.<br/>
          ⭐️ Descomplicando a Programação WEB.<br/>
          💡 Gosto de falar sobre hard e soft skills.<br/>
        </p>
      </div>
      
      <main class="grid gap-2 text-center">
        {
          links.primary.map(async (link) => (
            <a 
              class="border rounded border-gray-300 p-4 hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-800" 
              href={`https://${link.url}`} 
              target="_blank">
              <strong class="font-bold text-lg">{link.title}</strong>
              <p class="text-muted-foreground">{link.description}</p>
            </a>
          ))
        }
      </main>

      <footer class="flex gap-2 justify-center">
        {links.social.map(link => (
          <a href={`https://${link.url}`} target="_blank">

            <Button variant='outline' className='w-16 h-16'>
              <link.icon />
              <p class="sr-only">{link.title}</p>
            </Button>
          </a>
        ))}
      </footer>

    </div>
</Layout>