---
import Header from '@/components/Header.astro'

import config from '@/consts.ts'
import Layout from '@/layouts/Layout.astro'
import VideoList from '@/components/VideoList'
import { SearchVideos } from '@/components/SearchVideos'
import { getCollection } from 'astro:content'
const videos = await getCollection('videos')
---
<Layout title={`${config.head.title} | Videos`} description="Crio vídeos para lembrar, explicar e aperfeiçoar o aprendizado de conceitos da programação WEB" image={config.head.image}>
    <Header />

    
    <div class="max-w-lg mx-auto px-10 md:px-0"> 
      <SearchVideos searchList={videos} client:only="react" />
      
      <p class="text-right text-xs text-gray-500 mt-4">
      total de {videos.length} vídeos no <a href="https://www.youtube.com/channel/UCkr-unKyg_SiEzUwUY_uluQ" target="_blank" class="underline">canal Mayk Brito</a>
      </p>

        <main class="grid gap-4 my-10 grid-cols-1 ">
          <VideoList videos={videos} client:only="react"/>
        </main>
    </div>
</Layout>