---
import Tags from '@/components/Tags.astro'
const { post } = Astro.props
---

<a 
  href={`/blog/${post.frontmatter.slug}`}
  class={
    "post-link-container block mb-4 " +
    post.frontmatter.tags
      .map((tag: {id:string}) => `post-link-tag-${tag.id}`)
      .join(" ")
  }
>
  <article class="h-fit transform rounded-lg border border-gray-200 bg-white shadow-md transition duration-100 ease-in dark:border-gray-700 dark:bg-gray-950 sm:hover:scale-[102%] lg:hover:scale-105">
    <div
      style="display:block"
      transition:name={`cover-image-${post.frontmatter.id}`}
      transition:animate="none"
    >
      {post.frontmatter.optimizedCoverImage && (
          <img
            class={`mb-1 h-auto w-full rounded-md rounded-b-none object-cover`}
            style={`aspect-ratio: 4/1`}
            src={post.frontmatter.coverImageSrc}
            alt="cover"
          />
        )}
    </div>
    <div
      class="p-4"
      transition:name={`cover-title-${post.frontmatter.id}`}
    >

      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        {post.frontmatter.title}
      </h2>

      <p
        class="mb-4 whitespace-pre-line font-light text-gray-500 dark:text-gray-400"
        set:html={
          post.frontmatter.description !== "undefined"
            ? post.frontmatter.description
            : ""
        }
      />

      <div class="flex justify-between align-center">
        <small class="text-gray-500 dark:text-gray-500">{post.frontmatter.dateStr}</small>
        <div class="tags">
          <Tags tags={post.frontmatter.tags} />
        </div>
      </div>
    </div>
  </article>
</a>